h1 {
  font-size: 1.75rem;
  color: burlywood;
  margin: auto;
  text-align: center;
}

.container {
  display: flex;
  padding: 2em; 
}
.component {
  border: 1px solid burlywood;
  margin: 1em;
}

.title {
  font-size: 1.5rem;
  padding: 1em;
  background-color: burlywood;
}
/* font-size에 rem을 사용하는 이유는? font-size가 어떤 컴포넌트에 쓰이냐에 상관없이 동일한 font-size를 유지했으면 좋을 것 같아서임.

padding에 em을 사용한 이유는? font-size가 변경되는거에 따라서 padding size도 변경되면 좋을 것 같아서임.
*/

.contents {
  font-size: 1.125rem;
  padding: 1em;
} 

@media screen and (max-width: 48rem) {
  .container {
    flex-direction: column;
  }
}
/* 더 완벽한 반응형으로 만들고 싶다면?
미디어쿼리에서도 고정적인 px보다는 
 브라우저 스크린에 영향이 가기때문에 rem을 사용하면 더 자연스러운 반응형으로 만들 수 있다. */